@import "variables";

@import '~bootstrap/dist/css/bootstrap.min.css';

.add-top {
  margin-top: 15px;
}

.add-bottom {
  margin-bottom: 15px;
}

.add-top-less {
  margin-top: 5px;
}

.add-bottom-less {
  margin-bottom: 5px;
}
